<div class="container">
  <img class="logo" src="../../assets/images/Galli_logo.jpg">
      <h4>Accounting, Finance, IT, and HR for Startups and Growing Companies</h4>
      <hr>
      <div id="testimonials">
        <h4>Client Testimonials</h4>
                <h5>Loyalty</h5>
                <p>I got to know Karen while I was on the board at Woodlands Market, and Karen's loyalty and length of employment with Woodlands Market speaks volumes. Her ability to multi-task and handle financial decisions is exceptional. Her business acumen and knowledge of accounting, along with her being trustworthy and loyal, are very hard to find in today's marketplace. As an independent grocer, most business consultants I encounter don't understand how many hats you have to wear but Karen knows it all too well, which for me is very important. Her professional experience in the many facets of business combined with the above skill set would make her a tremendous assest to any organization.
                  <br />
                  ~Andy Bachich, Owner at Andy's Local Market
              </p>
          <div class="divider"></div>
              <h5>Knowledge</h5>
              <p>Karen Galli was essential in helping me return the Marin Association of Realtors to a sound business, professional, and financial footing. As the CEO of the organization, I was impressed by how quickly she understood the important management, financial and operational aspects of the association and her expertise in providing sound and valuable advice on critical issues. Her ability to explain and answer questions about budget, accounting, and financial related information helped inspire confidence among the staff and members of the Board of Directors. I highly recommend Karen to anyone who is seeking top-notch management, accounting and financial expertise from a highly-qualified individual who is easy to work with, builds trust, and is at the top of her game.
                <br>
                ~Edward Segal, former CEO of the Marin Association of Realtors
            </p>
        <div class="divider"></div>
            <h5>Leadership</h5>
            <p>Karen is an exceptional leader who serves as a true strategic partner to her clients, with the skills, dedication and insight to throughly understand the operations of any firm she advises. She provides essential financial oversight, and her ability to establish the systems needed to carry any organization through challenge and growth is remarkable. She is passionate about accuracy and punctuality for compliance with state and federal regulations and deadlines. She constantly seeks to exceed client expectations and provide exceptional results. I highly recommend her.
              <br>
              ~Ron Goldman, Partner at The Goldman Law Firm
          </p>
          </div>
        </div>
