<div>
  <h3>Set Up An Appointment</h3>
  <form>
    <label>Subject:</label>
    <input type="text">
    <br />
    <label>Message:</label>
    <br />
    <textarea placeholder="Please begin typing" maxlength=1000 rows=10 cols=50></textarea>
    <button class = "appointment"value="Submit">Submit</button>
  </form>
</div>
<hr>
<div id="contact">
  <ul><h4>Contact Us</h4>
    <a href="mailto:info@galli.consulting.com"><li>Email</li></a>
    <li>Call Us: +1 (415) 454-5735</li>
    <li>Fax: +1 (415 )226-0496</li>
    <li>Address: 4040 Civic Center Drive, Ste 200,
    San Rafael, CA 94903 US</li>
  </ul>
</div>
