/* #homepage {
  background: url('../../../assets/images/meric-dagli-388466.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
} */
